app-forms-page {
  .container {
    margin-top: 50px;
  }
// Workaround for https://github.com/angular/material2/issues/4580.
  mat-form-field .mat-form-field {
    &-underline {
      position: relative;
      bottom: auto;
    }
    &-subscript-wrapper {
      position: static;
    }
  }



  .section-container {
    display: flex;
    align-items: center;
    margin-bottom:30px;
    
    .section-title {
      width: 150px;
      margin-bottom: 0;
      text-align: center;
      -ms-flex-preferred-size: 19%;
      flex-basis: auto;
      font-size: 1.5rem;
      padding-right: 20px;
    }
    .section-components-container {
        flex: 1;
        border-left-style: solid;
        border-block-start: 5px;
        padding-left: 30px;
        border-left-width: 2px;
    }
  }

  .field-container{
    display: flex;
    align-items: center;
  }

  .full-width {
    width: 100%;
    margin-bottom: 10px;
    margin-left: 1rem;
  }

  .error-message {
    font-size: 12px;
  }

  .double-line-hint {
    .mat-input-hint-wrapper {
      flex-wrap: wrap;

      .hint-line {
        flex: 0 0 100%;
      }
    }
  }

  .submit-btn {
    margin-top: 30px;
  }

  .input-block{
    margin-bottom: 20px;
  }

  /* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: fit-content;
    min-width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 100%;
    margin-left: 5px;
}

/* Popup arrow */
/*.popup .popuptext::after {
  content: "";
  position: absolute;
  top: calc(50% - 5px);
  left: -5px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  transform: rotate(90deg);
}*/

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
}
